body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.pname{
  background-color: rgb(238, 197, 62);
  padding: 2%;
  color: rgb(27, 26, 26);
}
.info-style{
  background-color: rgb(238, 197, 62) !important;
  color: rgb(27, 26, 26);
 
}
.pstyle{
  text-align: right !important; 
  margin: 3%;
  color: aliceblue;
}
.pstylee{
  text-align: right !important; 
  margin-right: 12%;
  color: aliceblue;
  margin-bottom: 3%;
}
